<ion-view title="Event" id="event">
  <ion-content padding="true" class="has-header">
    <div class="list card">

        <a href="#" class="item item-icon-left">
          <i class="icon ion-map"></i>
          Park Location
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-calendar"></i>
          Game Date
        </a>

        <a href="#" class="item item-icon-left">
          <i class="icon ion-clock"></i>
          Game Time
        </a>
    </div>

    <div class="card">
      <div class="item item-text-wrap">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vestibulum fringilla condimentum. Quisque imperdiet tincidunt enim. Aenean commodo magna vel est facilisis, et vehicula neque feugiat. Nam lacinia purus dolor, at laoreet sem pulvinar vel. Aenean scelerisque posuere justo, vel facilisis turpis euismod vehicula. Integer porttitor dui eu fermentum condimentum. Nullam vehicula elit vitae nulla aliquet rhoncus quis eu purus. Curabitur lobortis, lectus luctus volutpat mattis, est velit ornare massa, quis maximus sem ex vitae magna. Curabitur vel justo a dolor lacinia rutrum sed ac purus.
      </div>
    </div>

  </ion-content>
</ion-view>
