<ion-view title="Messages" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" id="messages-card21">
      <form id="messages-form2" class="list">
        <label class="item item-input" id="messages-textarea3">
          <span class="input-label"></span><textarea placeholder="message"></textarea></label>
      </form>
    </div>
    <div class="list card" id="messages-card22">
      <div class="item item-body" id="messages-list-item-container4">
        <div id="messages-markdown4" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Daniel Nussbaum</strong>
          </p>

          <p style="color:#000000;">test message asdfojasdfajsdfas;ldfjasdl;kfjasdfl;ajsdfl;kajsd asdfasdfasd fsadfasdf sad
          </p>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>