<ion-view title= "Daniel Nussbaum" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card" ng-repeat="parent in parents">
        <div class="item">
            <h2>{{parent.fname + " "+parent.lname}}</h2>
            <br />
            <p>
                <a class="button button-balanced button-small" ng-href="tel:{{parent.phone}}"><i class="ion ion-ios-telephone"></i></a>
                <a class="button button-positive button-small" ng-href="sms:{{parent.email}}"><i class="ion ion-email"></i></a>
            </p>
        </div>
    </div>

  </ion-content>
</ion-view>
