<ion-view title="Daniel Nussbaum" id="page4">
  <ion-content padding="true" class="has-header">
    <div class="list card">
        <div class="item">
            <h2>Jenny Halpern</h2>
            <br />
            <p>
                <button class="button button-balanced button-small"><i class="ion ion-ios-telephone"></i></button>
                <button class="button button-positive button-small"><i class="ion ion-email"></i></button>
            </p>
        </div>
    </div>
    <div class="list card">
        <div class="item">
            <h2>Ian Pappas</h2>
            <br />
            <p>
                <button class="button button-balanced button-small"><i class="ion ion-ios-telephone"></i></button>
                <button class="button button-positive button-small"><i class="ion ion-email"></i></button>
            </p>
        </div>
    </div>
  </ion-content>
</ion-view>
