<ion-view id="page4">
  <ion-nav-title>{{player.fname}} {{player.lname}}</ion-nav-title>
  <ion-content padding="false" class="has-header">
    <div style="text-align:center;  max-height:100px; margin-bottom: 30px; background:#eb7f77; padding: 20px;">
        <img style="width:100px; border: 3px solid #EF473A;" ng-src="./img/{{player.photo}}.png" />
    </div>
    <div class="list card" ng-repeat="parent in parents">
        <div class="item">
            <h2>{{parent.fname + " "+parent.lname}}</h2>
            <br />
            <p>
                <a class="button button-balanced button-small" ng-href="tel:{{parent.phone}}"><i class="ion ion-ios-telephone"></i></a>
                <a class="button button-positive button-small" ng-href="sms:{{parent.phone}}"><i class="ion ion-email"></i></a>
            </p>
        </div>
    </div>

  </ion-content>
</ion-view>
