<ion-view title="Roster" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="roster-list3" class="manual-list-fullwidth">

      <ion-item ng-repeat="player in roster" href="#/{{team_id}}/tab/player/{{player.id}}" class="item-thumbnail-left balanced" id="roster-list-item11">
        <img ng-src="img/{{player.photo}}.png">
        <h2balanced>{{player.fname + " " + player.lname}}</h2balanced>
        <br />
        <h2>#{{player.player_number}}</h2>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
