<ion-view title="Roster" id="page3">
  <ion-content padding="true" class="has-header">
    <ion-list id="roster-list3" class="manual-list-fullwidth">
      <ion-item class="item-thumbnail-left balanced" id="roster-list-item11">
        <img src="img/nocmrCNlQCOGmkyho7NG_child.jpg">
        <h2balanced>#42 - Daniel Nussbaum
          <p style="white-space:normal;">Parent 1, Parent 2</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="roster-list-item16">
        <img src="img/L3CPpOZdRnmgkXRzN27W_child.jpg">
        <h2balanced>#12 - Sonia Nigam
          <p style="white-space:normal;">Parent 1, Parent 2</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="roster-list-item17">
        <img src="img/oFujHNJ4R2GRU6LBCD0K_images.jpg">
        <h2balanced>#2 - Rudolf Newman
          <p style="white-space:normal;">Parent 1, Parent 2</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="roster-list-item18">
        <img src="img/rzsu9Mu1TdODNB7kZGjr_imgres-1.jpg">
        <h2balanced>#5 - Hillary Clinton
          <p style="white-space:normal;">Parent 1, Parent 2</p>
        </h2balanced>
      </ion-item>
      <ion-item class="item-thumbnail-left balanced" id="roster-list-item19">
        <img src="img/ENkdIFWuTqKJfQvNAdyt_images-1.jpg">
        <h2balanced>#7 - Donald Trump
          <p style="white-space:normal;">Parent 1, Parent 2</p>
        </h2balanced>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>