<ion-view id="page3">
    <ion-nav-title>
        <img height="30" style="height:30px; margin-top:7px" src="img/logo.png">
      </ion-nav-title>
  <ion-content padding="false" class="has-header">
	<div class = "image-container">
		<div class = "title"> Team Name </div>
	</div>
    <ion-list id="roster-list3" class="manual-list-fullwidth">


      <ion-item ng-repeat="player in roster" href="#/{{team_id}}/tab/player/{{player.id}}" class="balanced item-avatar" id="roster-list-item11">
        <img ng-src="img/{{player.photo}}.png">
        <h2balanced>{{player.fname + " " + player.lname}}</h2balanced>
        <br />
        <h2 class="playerNum">#{{player.player_number}}</h2>
      </ion-item>

    </ion-list>
  </ion-content>
</ion-view>
